{% extends 'encuesta/../base/base.html' %}
{% load static %}
{% block titulo %}
CUESTIONARIO {% for i2 in tipoEncuesta %} {{ i2.nombre }} {% endfor %}
{% endblock %}
{% block centro %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image">
                    <img width="103%" height="110%" src="{% static 'encuesta/img/giphy.gif' %}">
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                <h1 class="h4 text-gray-900 mb-4">Encuesta {% for i2 in tipoEncuesta %}
                    {{ i2.nombre }} {% endfor %}</h1>
            </div>
            <hr>
            {% if nombre == "Top Down" %}
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ ser }}
                </div>
                <button class="btn btn-danger btn-user btn-block">
                    Realizar encuesta
                </button>
            </form>

            {% else %}

            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button class="btn btn-primary btn-user btn-block">
                    Buscar
                </button>
                <div class="form-group">
                    {% csrf_token %}
                    {{ ser }}
                </div>
                <button class="btn btn-danger btn-user btn-block">
                    Realizar encuesta
                </button>
            </form>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
{% endblock %}