{% extends 'encuesta/../base/base.html' %}
{% load static %}
{% block titulo %}
Cuestionario-Preguntas
{% endblock %}
{% block centro %}
<div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white mb-4 static-top shadow"> <!-- topbar-->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                {% if cuestionario == "Top Down" %}

                 <div class="container">
                    <div class="row">
                        <div class="col col-lg-2">
                            <img src="{% static 'encuesta/img/encuesta.png' %}" width="60"
                                 height="70" class="d-inline-block align-top" alt="">
                        </div>
                         <div class="col-md-4 offset-md-4">
                            <button type="button" class="btn btn-lg btn-warning"><a href="{% url 'logout' %}">logout</a>
                            </button>
                        </div>
                        <b class="text-center">
                            <h3>Bienvenido a la encuesta que permitirá medir la experiencia de usted como beneficiario
                                del servicio</h3>
                        </b>
                    </div>
                </div>
                 <div class="container">
                    <div class="row">
                        <div class="col-8"><h3 class="text-center">Instrucciones para llenar el cuestionario</h3></div>
                    </div>
                </div>
                <p>Debe indicar el estado del servicio que mejor conoce en la fecha de llenado de este cuestionario.</p>
                <p>Para mantener el cuestionario simple y sin ambigüedades, los términos utilizados con frecuencia en el
                    cuestionario se han definido a continuación.</p>
                <p>
                    <b>Servicio:</b>Un tipo de actividad en la que el Gobierno Autónomo Descentralizado GAD atiende las
                    necesidades de sus ciudadanos / residentes / partes interesadas utilizando medios electrónicos.
                    Además, conocido por el nombre de aplicación o aplicaciones.<br>
                    <b>Departamento:</b> Departamento de GAD que ofrece el servicio.
                    <br>
                    <b>Beneficiario:</b> Ciudadano / residente / interesado que hace uso del servicio ofrecido por el
                    departamento del GAD.
                </p>
                {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2">
                            <img src="{% static 'encuesta/img/encuesta.png' %}" width="60"
                                 height="70" class="d-inline-block align-top" alt="">
                        </div>
                        <b class="text-center">
                            <h3>Bienvenido a la encuesta que permitirá medir la experiencia de usted como beneficiario
                                del servicio</h3>
                        </b>
                    </div>
                </div>
                <p>
                    <br>
                    <b>Instrucciones para llenar el cuestionario</b>
                </p>

                <p>Debe indicar el estado del servicio que mejor conoce en la fecha de llenado de este
                    cuestionario. </p>
                <p>Para mantener el cuestionario simple y sin ambigüedades, los términos utilizados con frecuencia en el
                    cuestionario se han definido a continuación.</p>
                <p>
                    <b>Servicio:</b>Un tipo de actividad en la que el Gobierno Autónomo Descentralizado GAD atiende las
                    necesidades de sus ciudadanos / residentes / partes interesadas utilizando medios electrónicos.
                    Además, conocido por el nombre de aplicación o aplicaciones.<br>
                    <b>Departamento:</b> Departamento de GAD que ofrece el servicio.
                    <br>
                    <b>Beneficiario:</b> Ciudadano / residente / interesado que hace uso del servicio ofrecido por el
                    departamento del GAD.
                    <br>
                    <b>Aplicación:</b> Una aplicación es un software que puede ejecutarse en Internet, en su computadora
                    o en su teléfono.
                    <br>
                    <b>Portal web:</b> Un portal web es un sitio web especialmente diseñado que reúne información de
                    diversas fuentes de manera uniforme.
                    <br>
                    <b>Navegador:</b> Un navegador es un programa de aplicación que proporciona una forma de ver e
                    interactuar con toda la información en Internet.
                    <br>
                    <b>Transacción:</b> Una transacción es una unidad lógica que se ejecuta de forma independiente para
                    la recuperación o actualización de datos.
                </p>
                {% endif %}
            </div>
        </form>
    </nav>
    {% if cuestionario == "Top Down" %}
    <p>
        <b>Nombre de el Gobierno Departamento / Ministerio: </b>{{ gad }}
        <br>
        <b>Nombre del Servicio: </b>{{ serv }}
        <br>
        <b>Propósito de los beneficiarios de los: </b> {{ nombre }}
        <br>
        <b>Servicios de los grupos de interés de: </b>
        <br>
        <b>Servicio del servicio: </b>
    </p>
    {% endif %}
    <nav class="navbar navbar-expand navbar-light bg-white mb-4 static-top shadow">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <b>{% for i in preguntas %}{{ i.pregunta }}{% endfor %}</b>
            </div>
        </form>
    </nav>
    <form action="" method="post">
        {% csrf_token %}
        {% for i in question_form %}
        <hr>
        {{ i }}
        {% endfor %}
        <input type="hidden" name="question_number" value="{{ question_number }}">
        <input type="submit" class="form-control btn btn-secondary" value="Siguiente >>">
    </form>

    {% if mensajeBool == True %}
    <div class="alert alert-danger" role="alert">{{ mensaje }}
    </div>
    {% endif %}

</div>
{% endblock %}