{% extends 'encuesta/../base/base.html' %}
{% load static %}
{% block titulo %}
INICIO
{% endblock %}
{% block menu %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <div class="col col-lg-2">
                <a class="navbar-brand" href="{% url 'index2' %}">
                    <img src="{% static 'encuesta/img/LOJA.png' %}" width="120"
                         height="70" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class="col-6">
                <b class="text-primary">
                    <h2>e-Governance Service Maturity Model</h2>
                </b>
            </div>
            <div class="col col-lg-2">
                <img src="{% static 'encuesta/img/escudo.png' %}" width="60"
                     height="70" class="d-inline-block align-top" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid navbar-inverse">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'index' %}">Realizar encuestas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'resultado' %}">Resultados</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block centro %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button class="btn btn-primary btn-user btn-block">
                    Buscar
                </button>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <br>
    <div class="row">
        <p class="h4">Codigo de colores</p>
        <div class="col-sm">
            <button type="button" class="btn btn-success">Satisfactorio</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger">Peligro</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-warning">Precaución</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Resultados Servicios ofrecidos por el GAD</th>
                <th scope="col">Resultados Experiencia del beneficiario</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for d in dato %}
            <tr>
                <td>{{ d.gad_servi_usuario__gad_ser__servicios__servicio }}</td>
                <td class="{% if d.Top_Down_Total >= 12.0 %}
                table-success
                {% elif d.Top_Down_Total >= 9.0 %}
                table-warning
                {% else %}
                table-danger
                {%endif%}" disabled=""><a href="{% url 'graficas' 'Top Down' d.gad_servi_usuario__gad_ser__idgadservicio %}">{{d.Top_Down_Total|floatformat:2 }}</a></td>
                <td class="{% if d.Bottom_Up_Total >= 12.0 %}
                table-success
                {% elif d.Bottom_Up_Total >= 9.0 %}
                table-warning
                {% else %}
                table-danger
                {%endif%}"><a href="{% url 'graficas' 'Bottom Up' d.gad_servi_usuario__gad_ser__idgadservicio %}">{{d.Bottom_Up_Total|floatformat:2 }}</a></td>
                <td>{{ d.Total|floatformat:2 }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}