{% extends 'encuesta/../base/base.html' %}
{% load static %}
{% block titulo %}
LOGIN
{% endblock %}
{% block centro %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image">
        <img width="103%" height="110%" src="{% static 'encuesta/img/giphy.gif' %}">
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
            </div>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
            </form>
            <a href="{% url 'signup' %}"> Crear cuenta</a>
        </div>
    </div>
</div>
{% endblock %}
